<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rick.cryptcloud.dao.CipherFKMapper">
  <resultMap id="BaseResultMap" type="com.rick.cryptcloud.DO.CipherFK">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="k_0" jdbcType="VARCHAR" property="k0" />
    <result column="k_t" jdbcType="VARCHAR" property="kT" />
    <result column="rpk" jdbcType="VARCHAR" property="rpk" />
    <result column="rsk" jdbcType="VARCHAR" property="rsk" />
    <result column="t" jdbcType="INTEGER" property="t" />
    <result column="N" jdbcType="INTEGER" property="n" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cipher_fk
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rick.cryptcloud.DO.CipherFK">
    insert into cipher_fk (k_0, k_t, rpk,
      rsk, t, N)
    values (#{k0,jdbcType=VARCHAR}, #{kT,jdbcType=VARCHAR}, #{rpk,jdbcType=VARCHAR},
      #{rsk,jdbcType=VARCHAR}, #{t,jdbcType=INTEGER}, #{n,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.rick.cryptcloud.DO.CipherFK">
    update cipher_fk
    set
      k_t = #{kT,jdbcType=VARCHAR},
      t = #{t,jdbcType=INTEGER},
    where k_0 = #{k0,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, k_0, k_t, rpk, rsk, t, N
    from cipher_fk
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, k_0, k_t, rpk, rsk, t, N
    from cipher_fk
  </select>
</mapper>