<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rick.cryptcloud.dao.DocumentMapper">
  <resultMap id="BaseResultMap" type="com.rick.cryptcloud.DO.Document">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="cipher_key" jdbcType="VARCHAR" property="cipherKey" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rick.cryptcloud.DO.Document">
    insert into file (filename, content, 
      cipher_key)
    values (#{filename,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{cipherKey,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.rick.cryptcloud.DO.Document">
    update file
    set filename = #{filename,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      cipher_key = #{cipherKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, filename, content, cipher_key
    from file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, filename, content, cipher_key
    from file
  </select>
</mapper>