<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rick.cryptcloud.dao.FMapper">
  <resultMap id="BaseResultMap" type="com.rick.cryptcloud.DO.F">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="crypto_file" jdbcType="VARCHAR" property="cryptoFile" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from f
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rick.cryptcloud.DO.F">
    insert into f (id, crypto_file)
    values (#{id,jdbcType=INTEGER}, #{cryptoFile,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.rick.cryptcloud.DO.F">
    update f
    set crypto_file = #{cryptoFile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, crypto_file
    from f
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, crypto_file
    from f
  </select>
</mapper>