<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rick.cryptcloud.dao.RKMapper">
  <resultMap id="BaseResultMap" type="com.rick.cryptcloud.DO.RK">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
    <result column="crypto_rolekey" jdbcType="VARCHAR" property="cryptoRolekey" />
    <result column="crypto_rolesign" jdbcType="VARCHAR" property="cryptoRolesign" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rk
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rick.cryptcloud.DO.RK">
    insert into rk (id, username, rolename, 
      crypto_rolekey, crypto_rolesign)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, 
      #{cryptoRolekey,jdbcType=VARCHAR}, #{cryptoRolesign,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.rick.cryptcloud.DO.RK">
    update rk
    set username = #{username,jdbcType=VARCHAR},
      rolename = #{rolename,jdbcType=VARCHAR},
      crypto_rolekey = #{cryptoRolekey,jdbcType=VARCHAR},
      crypto_rolesign = #{cryptoRolesign,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, rolename, crypto_rolekey, crypto_rolesign
    from rk
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, rolename, crypto_rolekey, crypto_rolesign
    from rk
  </select>
</mapper>