<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rick.cryptcloud.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.rick.cryptcloud.DO.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="public_key" jdbcType="LONGVARCHAR" property="publicKey" />
    <result column="private_key" jdbcType="LONGVARCHAR" property="privateKey" />
    <result column="sign_public" jdbcType="LONGVARCHAR" property="signPublic" />
    <result column="sign_private" jdbcType="LONGVARCHAR" property="signPrivate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rick.cryptcloud.DO.User">
    insert into user (username, mail, 
      public_key, private_key, sign_public, 
      sign_private)
    values (#{username,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, 
      #{publicKey,jdbcType=LONGVARCHAR}, #{privateKey,jdbcType=LONGVARCHAR}, #{signPublic,jdbcType=LONGVARCHAR}, 
      #{signPrivate,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByUserName" parameterType="com.rick.cryptcloud.DO.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      public_key = #{publicKey,jdbcType=LONGVARCHAR},
      private_key = #{privateKey,jdbcType=LONGVARCHAR},
      sign_public = #{signPublic,jdbcType=LONGVARCHAR},
      sign_private = #{signPrivate,jdbcType=LONGVARCHAR}
    where username = #{username,jdbcType=VARCHAR}
  </update>
  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, username, mail, public_key, private_key, sign_public, sign_private
    from user
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, mail, public_key, private_key, sign_public, sign_private
    from user
  </select>
</mapper>